@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@font-face {
  font-family: "monlam";
  src: url("/app/assets/MonlamOuchan2.ttf") format("tff");
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
main {
  height: calc(100vh - 72px);
}
/* Track */
::-webkit-scrollbar-track {
  width: 10px;
  border: 1px solid #d9d9d9;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d9d9d9;

  width: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  width: 10px;
}
body {
  max-width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 14px;
  font-family: "Inter", "monlam", Arial, Helvetica, sans-serif;
}
nav > div {
  height: 100%;
}
.ProseMirror ::selection {
  background: rgba(252, 233, 106, 0.3);
}
.ProseMirror-focused {
  outline: none;
}
.filter-modal {
  box-shadow: #666;
  border-radius: 20px;
  max-width: 100vw;
}
.search {
  background-color: rgb(232, 233, 137);
}
button,
::placeholder {
  text-transform: capitalize;
  font-size: 14px;
}
